<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
<!--    <link rel="stylesheet" href='css/style.css'>-->
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper">
                <div class="heaader_log">
                <a href="/" class="header_logo_link">
<!--                    <img src="./image/avatar-batman.svg" alt="batman" class="header_logo_pic">-->
                    <img src="{% static 'image/avatar-batman.svg' %}" alt="batman" class="header_logo_pic">
                </a>
                </div>

                <nav class="header_nav">
                    <ul class="header_list">
                        <li class="header_item">
                            <a href="/cv/" class="header_link">CV</a>
                        </li>
                        <li class="header_item">
                            <a href="/about/" class="header_link">About</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">Contacts</a>
                        </li>
                        <li class="header_item">
                            <a href="/blog/" class="header_link">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="intro">
            <div style="margin-top: 15px;" class="desc_title_about">
                <h1 style="font-size: 40px; margin-bottom: 15px; text-align: center;">Страница на доработке</h1>
            </div>
        </section>
    </main>
</body>
</html>
