<!DOCTYPE html>
<!--{% load static %}-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV</title>
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}" />-->
    <link rel="stylesheet" href='css/style.css'>
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper">
                <div class="heaader_log">
                <a href="/" class="header_logo_link">
                    <img src="./image/avatar-batman.svg" alt="batman" class="header_logo_pic">
<!--                    <img src="{% static 'image/avatar-batman.svg' %}" alt="batman" class="header_logo_pic">-->
                </a>
                </div>

                <nav class="header_nav">
                    <ul class="header_list">
                        <li class="header_item">
                            <a href="#!" class="header_link">CV</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">About</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">Contacts</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="intro_CV">
        </section>
        <section class="block_CV">
            <div class="block_CV_div">
                 <div class="block_desc_CV">
                    <div class="block_desc_2_CV">
                        <h2 class="block_title_CV">
                            <p>На данный момент работаю в Тинькофф на позиции аналитика</p>
                        </h2>
                        <h2 class="block_desc_title_CV_h3">Основные обязанности на нынешнем рабочем месте:
                        </h2>
                        <ul style="padding: 0px 0px 15px 25px" class="block_desc_title_cv_list">
                            <li  style="list-style: disc"  class="benefits_card_desc_CV_list">Выявление багов в работе системы</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Создание задача на доработку</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Написание технической документации</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Создание новых алертов</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Построение отчетов с отправкой на регулярной основе</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Разбор пользовательских обращений по работе системы</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Оптимизация показателей группы</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Анализ метрик пользователей и внедрение нового в систему</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Оптимизация рабочих процессов</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Взаимодействие со смежными отделами</li>
                        </ul>
                        <h2 class="block_desc_title_CV_h3">Стэк:</h2>
                        <ul style="padding: 0px 0px 15px 25px" class="block_desc_title_cv_list">
                            <li  style="list-style: disc"  class="benefits_card_desc_CV_list">Jira/Confluence</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">SQL(PostgreSQL), Greenplum</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Zeppelin, helicopter</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">BPMN</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Posman, swagger</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Elasticsearch(Kibana), Sage, Grafana</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Python(numpy, pandas, matplotlib, seaborn, tenserflow, kivy )</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Алгоритмы и структуры данных</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">REST\SOAP, микросервисная архитектура</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">miro\figma</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Linux</li>
                        </ul>
                        <h2 class="block_desc_title_CV_h3">Сертификаты\пройденные курсы:</h2>
                        <h4 class="block_desc_title_CV_h4">Платформа stepic:</h4>
                        <ul style="padding: 0px 0px 15px 25px" class="block_desc_title_cv_list">
                            <li  style="list-style: disc"  class="benefits_card_desc_CV_list">Введение в базы данных</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Введение в Linux</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Введение в Data Science и машинное обучение</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Jira: ведение задач на электронных досках</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Основы статистики</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Программирование на Python</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Интерактивный тренажер по SQL</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Нейронные сети</li>
                        </ul>
                            <h4 class="block_desc_title_CV_h4">Skillbox:</h4>
                        <ul style="padding: 0px 0px 15px 25px" class="benefits_card_desc_CV">
                            <li style="list-style: disc" class="block_desc_title_cv_list">Программист Python</li>
                        </ul>
                            <h4 class="block_desc_title_CV_h4">Kaggle:</h4>
                        <ul style="padding: 0px 0px 15px 25px" class="benefits_card_desc_CV">
                            <li style="list-style: disc" class="block_desc_title_cv_list">Into to SQL(BigQuery)</li>
                        </ul>
                            <h4 class="block_desc_title_CV_h4">Открытое образование:</h4>
                        <ul style="padding: 0px 0px 15px 25px" class="benefits_card_desc_CV">
                            <li style="list-style: disc" class="block_desc_title_cv_list">Программирование глубоких нейронных сетей</li>
                        </ul>
                        <h2 class="block_desc_title_CV_h3">Личные проекты:</h2>
                        <h3 class="block_desc_title_CV_h4" >
                            Занимаюсь созданием "Рекомендательной системы для тренировки хоккеистов". В рамках проекта реализовываем систему, которая на основе исторических данных будет выявлять систематические нарушения хоккеиста и подсвечивать их тренерскому штабу. Создал приложение для подбора фильма по подбору фильма по настроению основанное на фраемворке Kivy языка пайтон
                        </h3>
                        <h2 class="block_desc_title_CV_h3">О себе:</h2>
                        <h3 class = "block_desc_title_CV_h4">
                            С детства занимаюсь хоккеем,веду активный образ жизни вредных привычек не имею. В свободное время стараюсь изучить что-то новое, нравится читать книги, периодически прохожу курсы для развития, на данный момент прохожу курс “программирование глубоких нейронных сетей” на платформе Открытое образование.
                        </h3>
                        <h2 class="block_desc_title_CV_h3">Имею три опубликованных научных статей в сборнике "Информационные технологии" 2020 на темы:</h2>
                        <ul style="padding: 0px 0px 15px 25px" class="block_desc_title_cv_list">
                            <li  style="list-style: disc"  class="benefits_card_desc_CV_list">Анализ программных комплексов по расчету надежности</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Применение модели «нагрузка-несущая способность» к потоку событий, обрабатываемых узлом с конечной пропускной способностью</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Оценка вероятности безотказной работы по модели нагрузка-несущая способность</li>
                        </ul>
                        <h2 class="block_desc_title_CV_h3">Социальные сети:</h2>
                        <ul style="padding: 0px 0px 15px 25px" class="block_desc_title_cv_list">
                            <li  style="list-style: disc"  class="benefits_card_desc_CV_list">Хабр карьера: https://career.habr.com/victortarasov23</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">LinkedIn: https://www.linkedin.com/in/victortarasov1995/</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Stepic: https://stepik.org/users/373759030</li>
                            <li style="list-style: disc" class="benefits_card_desc_CV_list">Kaggle: https://www.kaggle.com/victortarasov</li>
                        </ul>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="wrapper">
            <div class="footer_item">
                <div class="=footer_logo">
                    <img src="./image/logo.svg" alt="batman" class="footer_logo_pic">
                </div>
                <nav class="header_nav">
                    <ul class="header_list">
                        <li class="header_item">
                            <a href="#!" class="header_link">CV</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">About</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">Contacts</a>
                        </li>
                        <li class="header_item">
                            <a href="#!" class="header_link">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <script src="js/main.js">
    </script>
</body>
</html>